{% if user.is_authenticated %}
<!DOCTYPE html>
<html>
   <head>
      <title>{% block head_title %}Bitoo Trading{% endblock %}</title>
      <meta charset="utf-8">
         <meta content="ie=edge" http-equiv="x-ua-compatible">
            <meta content="template language" name="keywords">
               <meta content="Native Theme" name="author">
                  <meta content="Bitoo Trading" name="Plataforma de trading automatizada.">
                     <meta content="width=device-width, initial-scale=1" name="viewport">
                        <link href="favicon.png" rel="shortcut icon">
                           <link href="apple-touch-icon.png" rel="apple-touch-icon">

{% include "base/head_css.html" %}  

  
</head>
<body>

{% include "base/navbar.html" %}  
{% include "base/body.html" %}  

{% block content %}
{% endblock %}
{% block grafica %}
{% endblock %}
</body>

</html>
{% endif %}

{% if user.is_anonymous %}

<meta http-equiv="refresh" content="0; url=/admin">

{% endif %}