      
<div class="top-nav">
   <div class="top-nav-box">
      <div class="side-nav-mobile">
         <i class="fa fa-bars"></i>
      </div>
      <div class="logo-wrapper">
         <div class="logo-box">
            <a href="">
               <div class="logo-title">JustGUI</div>
            </a>
         </div>
      </div>
      <div class="top-nav-content">
         <div class="top-nav-box">
 
            <div class="global-search"></div>
            <div class="top-notification">
               <div class="notification-icon">
                  <i class="fa fa-btc"> Balance: {{balances}}</i>
               </div>
               <div class="notification-icon">
                  <i class="fa fa-btc"> Profit: {{gain}}</i>
               </div>
            </div>
            <div class="user-top-profile">
               <div class="user-image">
                  <div class="user-on"></div>
                  <img alt="Bitoo" src="https://randomuser.me/api/portraits/lego/0.jpg">
                  </div>
                  <div class="clear">
                     <div class="user-name">{{username}}</div>
                     <ul class="user-top-menu animated bounceInUp">

                        <li>
                           <a href="/accounts/history">Login History</a>
                        </li>
                        <li>
                           <a href="">Logout</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="profile-nav-mobile">
            <i class="fa fa-cog"></i>
         </div>
      </div>
   </div>
   <div class="wrapper">
      <aside class="side-nav">
         <div class="main-menu-title">Menu</div>
         <div class="main-menu">
            <ul>
               <li>
                  <a href="/accounts/panel">
                     <i class="fa fa-bars"></i>
                     <span>Panel</span>
                  </a>
               </li>
               <li>
               <li>
                  <a href="/accounts/trades/">
                     <i class="fa fa-random"></i>
                     <span>Trades</span>
                  </a>
               </li>
               </li>
               <li>
                  <a href="/accounts/settings">
                     <i class="fa fa-bank"></i>
                     <span>GB Options</span>
                  </a>
               </li>
               
               <li>
                  <a href="/accounts/logs">
                     <i class="fa fa-hourglass-end"></i>
                     <span>GB Log</span>
                  </a>
               </li>

               <li>
                  <a href="/accounts/profit">
                     <i class="fa fa-signal"></i>
                     <span>Earnings</span>
                  </a>
               </li>
            </ul>
            <div class="side-banner">
               <div class="banner-content">
                  <div class="title">JustGUI 
                     <div class="version">WEB GUI</div>
                  </div>
                  <div class="subtitle">Friendly GUI</div>
                  <a class="purchase" href="https://t.me/share/url?url=https://github.com/uservzk80/JustGUI">Share</a>
               </div>
            </div>
         </div>
        

              

      