{% extends "base/base.html" %}

{% block content %}

<div class="content-box-header">
<div class="box-title">GB Statistics</div>
<div class="box-description">These are the weekly stats of your earnings.<a href="/panel/profit"> Total Earning.</a></div>
</div>
<br>
<canvas id="myChart" width="400" height="400"></canvas>

{% endblock %}

{% block grafica %}
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["{{timestamp_1}}", "{{timestamp_2}}", '{{timestamp_3}}'],
        datasets: [{
            label: 'BTC Profit',
            data: [{{profit_1}}, {{profit_2}}, {{profit_3}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
{% endblock %}


{% if user.is_anonymous %}
{% endif %}