<!DOCTYPE html>
<html lang="en">
<head>
  <title>JustGUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">JustGUI</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/admin">Admin</a></li>
      <li><a href="/accounts/panel">Panel</a></li>
      <li><a href="https://github.com/uservzk80/JustGUI">Github</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid" align="center">
  <h1>JustGUI Service</h1>      
  <p>A friendly GUI.</p> 
  <img src="https://camo.githubusercontent.com/7833391116e484a066810c43a6fc9f7386c3ea3a/687474703a2f2f692e696d6775722e636f6d2f4e6977664d30552e706e67">
</div>

</body>
</html>
