{% extends "base/base.html" %}
{% block content %}


   <div class="panel">
      <div class="content-header no-mg-top">
         <i class="fa fa-newspaper-o"></i>
         <div class="content-header-title">GB Options</div>
      </div>

                  <div class="row">
                     <div class="col-md-12">
                        <div class="content-box">
<div class="alert alert-info">
<strong>Info!</strong>                         {{message}}
</div>

                        </div>
                     </div>
                  </div>
 {% endblock %}