{% extends "base/base.html" %}



{% block content %}

  <div class="panel">
      <div class="content-header no-mg-top">
         <i class="fa fa-newspaper-o"></i>
         <div class="content-header-title">GB Trades</div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="content-box">

                           <div class="content-box-header">
                              <div class="box-title">GB Trades</div>
                              <div class="box-description">View the latest movements made by Gunbot.<br></div>

                           </div>
                          <center><pre>{{trades}}</pre></center>


{% endblock %}